<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Class Scheduling</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/index.css">
</head>
<body>
    <div class="img2">
        <img src="~/Content/Images/indexH2.jpg" />
    </div>
    <div class="content">
        <ul class="menuList">
            <li class="mainMenu">
                <a href="@Url.Action("ViewSchedule", "Schedule")" class="elements">
                    <span>View Schedule</span>
                    <i></i>
                </a>
            </li>
            <li class="mainMenu">
                <a href="@Url.Action("Builder", "Schedule")" class="elements">
                    <span>Schedule Builder</span>
                    <i></i>
                </a>
            </li>
            <li class="mainMenu">
                <a href="@Url.Action("Lookup", "Schedule")" class="elements">
                    <span>Lookup Classes</span>
                    <i></i>
                </a>
            </li>
            <li class="mainMenu">
                <a href="@Url.Action("AddDrop", "Schedule")" class="elements">
                    <span>Add/Drop Classes</span>
                    <i></i>
                </a>
            </li>
            <li class="mainMenu">
                <a href="@Url.Action("Info", "Home")" class="elements">
                    <span>Student Information</span>
                    <i></i>
                </a>
            </li>
        </ul>
        <ul class="about">
            <li>
                <p>Try the new schedule builder!  It can </p>
                <p>suggest optimal schedule options based on </p>
                <p>your personal preferences if you are struggling </p>
                <p>to schedule on your own</p>
            </li>
            <li>
                <p>For traditional scheduling options, try Lookup</p>
                <p>Classes or Add/Drop Classes</p>
            </li>
            <li>
                <p>Make sure to keep your personal information</p>
                <p>up to date!</p>
            </li>
        </ul>
    </div>
</body>
</html>